<div class="block">
  <div class="content">
    <div class="inner">
		<p>
		<%= link_to "#{t("new_meeting", :default => "New Meeting")}", new_meeting_path, :class => "button big_button" %>
		<br />
		</p>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>