<div class="block">
  <div class="content">
    <div class="inner">
		<p>
		<h1>Quick and Easy scheduling</h1>
		<h2>Free of charge. No signup.</h2>
		<%= link_to t("meeting.new", :default => "New Meeting"), new_meeting_path, :class => "big_button" %>
		<br />
		</p>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>