<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="active"><%= link_to "#{t("edit_meeting", :default => "Edit Meeting")}", edit_meeting_path %></li>
    </ul>
  </div>
  <div class="content">
    <p>
    <div class="inner">
      <link rel="stylesheet" href="/assets/datepicker.css" type="text/css" />
        <link rel="stylesheet" media="screen" type="text/css" href="/assets/layout.css" />
        <script type="text/javascript" src="/assets/jquery.js"></script>
        <script type="text/javascript" src="/assets/datepicker.js"></script>
        <script type="text/javascript" src="/assets/eye.js"></script>
        <script type="text/javascript" src="/assets/utils.js"></script>
        <script type="text/javascript" src="/assets/layout.js?ver=1.0.2"></script>
        <script type="text/javascript" src="/assets/meetings.js"></script>
      <%= form_for @meeting, :url => meeting_path(@meeting.link_admin), :html => { :class => :form } do |f| -%>
        <%= render :partial => "editform", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>