<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="active"><%= link_to "#{t("meeting.new", :default => "New Meeting")}", new_meeting_path %></li>
    </ul>
  </div>
  <div class="content">
	<p>
    <div class="inner">
        <link rel="stylesheet" href="/assets/datepicker.css" type="text/css" />
        <script type="text/javascript" src="/assets/datepicker.js"></script>
      <%= form_for :meeting, :url => meetings_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "createform", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>


<script>
  $('#date').DatePicker({
    flat: true,
    format: 'd/m/Y',
    date: $('#meeting_date').val(),
    calendars: 1,
    onChange: function(formated, dates){
        $('#meeting_date').val(formated);
    }
  });
</script>