html, body {
	margin:0;
	padding:0;
	height:100%;
}
#container {
	position:relative;
	min-height:100%;
	padding-left:10%;
	padding-right:10%;
	background-color:#201F25;
}
#header {
	padding:15px;
	line-height:4em;
}
#body {
	padding-bottom:90px;	/* Height of the footer plus extra space */
	background-color:#FFFFFF
}
#footer {
	position:absolute;
	bottom:0;
	height:70px;	/* Height of the footer */
	width:80%;		/* 100% minus 10% for each margin */
	background-color:#201F25;
	color:#FFFFFF;
}

a:link {
	text-decoration:none
}
#footer a:link {
	color:#FFFFFF;
}
#footer a:visited {
	color:#FFFFFF;
}
#footer a:active {
	color:#FFFFFF;
}
#footer a:hover {
	color:#FFFFFF;
	background-color:#413839;
}

.resize {
	width:auto;
	height:200px;
}

.floatLeft {
	float:left;
	padding-right:10px;
}