* {
	margin:0;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

#container {
	position:relative;
	min-height:100%;
	padding-left:10%;
	padding-right:10%;
	background-color:#201F25;
}

#header {
	line-height:6em;
}

img.header{
	width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#navigation {
	line-height:3em;
	color:#FF5B00;
	background-color:#1A1921;
}

#title {
	float:left;
}

#themeSelection {
	text-align:right;
}

#content {
	padding-top:10px;
	padding-bottom:80px;	/* Height of the footer plus some extra space */
}

#footer {
	position:absolute;
	bottom:0;
	height:70px;			/* Height of the footer */
	width:80.0%;			/* don't ask me why */
	background-color:#201F25;
	color:#FFFFFF;
}

a:link {
	text-decoration:none
}
#footer a:link {
	color:#FFFFFF;
}
#footer a:visited {
	color:#FFFFFF;
}
#footer a:active {
	color:#FFFFFF;
}
#footer a:hover {
	color:#909090;
}

.resize {
	width:auto;
	height:200px;
}

.floatLeft {
	float:left;
	padding-right:10px;
}