/*
 * This css will include all web-app-theme css you need
 *
 *= require web-app-theme/base
 *= require web-app-theme/themes/activo/style.css
 *= require_self
 */

/* Write here your css for overriding the theme's rules */

.flash .message {
  width: 80%;
  margin-left:10%;
  text-align: center;
  margin: 0 auto 15px;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.flash .error, .flash .error-list {
  border: 1px solid #B75442;
  background: #EA664F url("/assets/icons/error.png") no-repeat 10px center;
}
.flash .warning {
  border: 1px solid #bb9004;
  background: #f9c006 url("/assets/icons/warning.png") no-repeat 10px center;
}
.flash .notice {
  color: #28485e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  border: 1px solid #8a9daa;
  background: #b8d1e2 url("/assets/icons/notice.png") no-repeat 10px center;
}

#user-navigation {
  right: 140px;
}

#main, #main-navigation {  
  width: 80%;
  margin-left:10%;
}

#user-navigation ul li {
	padding:0px 20px;
}

#drop_menu {
	position:relative;
	line-height:20px;
	cursor:pointer;
}
#drop_menu img {
	vertical-align:middle;
	padding-right:10px;
}

#drop_items {
	position:absolute;
    opacity:0;
    visibility:hidden;
	top:100;
	right:0;
	line-height:2em;
	width:100px;

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

#drop_items li {
	float:right !important
}

#drop_menu:hover > ul {
    opacity:1;
    visibility:visible;
	background:#E5E5E5;
	float:right
}

#minutes {
	resize: none;
	width:100%;
	max-width:100%;
	border:none;
	min-height:50px;
}

#minutes:focus, #static_minutes:focus {
	outline:0;
	outline:none;
}

#static_minutes{
	resize: none;
	width:100%;
	max-width:100%;
	border:none;
	border-bottom:1px dotted;
	min-height:50px;
}

#topicsDiv input, #participantsDiv input{
	margin-bottom:10px;
}

#footer {
	padding-bottom:0px;
}

#footer div.block {
	margin-bottom:0px;
}

.form input.date_picker{
	width:8%;
	border:1px solid #e2e2e2;
}

.form input.shorter{
	width:95%;
}

.hidden {
	display: none;
}

a:link {
	text-decoration:none
}

table td.leftered {
	text-align:left;
}

table td input.styled {
	min-width:80%;
	width:80%;
	background-color: transparent; 
	border-style: dashed;
	border-width: 0px 0px 1px 0px;
}

table td input.styled:focus {
	outline:0;
	outline:none;
}

table.centered {
	text-align:center;
}

.outer_center {
	text-align: center;
	padding-bottom:10px;
}

.buttons {
    display: inline-block;
}

textarea.disabled {
	background-color:#FFFFFF;
	color:#000000;
}

a.big_button:link, a.big_button:visited, a.big_button:hover, a.big_button:active, button.big_button {
  color: #fff;
  display:block;
  float:left;
  margin:0 7px 0 0;
  background-color: #4CA20C;
  border:1px solid #bfbfbf;
  font-size: 2em;
  line-height: 1.3em;
  font-weight:bold;
  cursor:pointer;
  padding:5px 10px 6px 7px;
  text-decoration: none;
  
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
button.big_button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px; /* IE6 */
  
}
button.big_button[type] {
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}

*:first-child+html button.big_button[type] {
  padding:4px 10px 3px 7px; /* IE7 */
}
button.big_button:hover, a.big_button:hover {
  background-color:#3C800A;
}
button.big_button:active, a.big_button:active {
  background-color:#45930B;
}

