/*
 * This css will include all web-app-theme css you need
 *
 *= require web-app-theme/base
 *= require web-app-theme/themes/activo/style.css
 *= require_self
 */

/* Write here your css for overriding the theme's rules */

.form input.date_picker{
  width: 8%;
  border: 1px solid #e2e2e2;
}
.form input.topic{
  width: 60%;
  border: 1px solid #e2e2e2;
}
.resize {
	width:auto;
	height:200px;
}
.floatLeft {
	float:left;
	padding-right:10px;
}
h2 {
	margin: 0;
	padding: 0;
}
button.big_button {
	font-size:20px;
}
a:link {
	text-decoration:none
}
#footer a:link {
	color:#FFFFFF;
}
#footer a:visited {
	color:#FFFFFF;
}
#footer a:active {
	color:#FFFFFF;
}
#footer a:hover {
}





input.button {
  background-color: #f4f4f4;
  background-image: url("/web-app-theme/themes/activo/images/button-background.png");
  border: 1px solid #c3c4ba;
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
}

input.button:link, input.button:visited, input.button:hover, input.button:active {
  font-weight: normal;
  background-color: #f4f4f4;
}

input.button:hover {
  background-color: #eee;
  border: 1px solid #818171;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

input.button:active {
  outline: none;
  background-color: #ddd;
  background-image: url("/web-app-theme/themes/activo/images/button-background-active.png");
}