#content {
	background-color:#FFFFFF;
	color:#000000;
}

#content a:link {
	color:#3C3C3C;
}
#content a:visited {
	color:#3C3C3C;
}
#content a:active {
	color:#3C3C3C;
}
#content a:hover {
	color:#7D7D7D;
}

#content input {
	background-color:#FFFFFF;
	color:#000000;
}